body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

/* notes列表 */
#notesList > ul {
    padding: 0;
    list-style-type: none;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

#notesList > ul > li {
    background-color: #ddd;
    padding: 1em;
    margin: 1em 0;
    transition: all 4s;
    overflow: hidden;
}

#notesList > ul > li > span {
    color: #999;
}


/* 输入框 */
#publishNote {
    margin-top: 2em;
}
/* 参考 https://css-tricks.com/textarea-tricks/ */
textarea#noteEditor {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: 3px solid white;
    resize: none;
    font-size: 18px;
}

/* 渐变边框，参考 https://segmentfault.com/a/1190000012797252 */
textarea#noteEditor:focus, textarea#noteEditor:hover {
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, #ddd, #fff);
    border-image-slice: 10;
}

/* 表示页面正在加载下一页的图标 */
#loading {
    color: #555;
    padding: 50px;
    text-align: center;
}