body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    font-family: sans-serif;
}

body > h1 {
    position: fixed;
    left: 0px;
    top: 2em;
    writing-mode: vertical-lr;
    margin: 0;
    padding: 1em 0;
    font-weight: 100;
    background: #8ED0F8;
    color: white;
    border-radius: 0 50px 50px 0;
    text-transform: uppercase;
    user-select: none;  /* 禁止选中  https://developer.mozilla.org/en-US/docs/Web/CSS/user-select  */
}

@media only screen and (max-width: 906px) {
    body > h1 {
        display: none;
    }
}


#markdownPreview {
    margin: 0px;
}

/* notes列表 */
#notesList > ul {
    padding: 0;
    list-style-type: none;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin: 0;
}

#notesList > ul > li {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #E6ECF0;
    margin-bottom: -1px;
    margin-top: 0px;
    overflow: hidden;
    transition: background-color 1s;
    position: relative;
}
#notesList > ul > li:hover {
    background-color: #F5F8FA;
}

/* 发布时间 */
#notesList > ul > li > span {
    color: #999;
    font-size: 0.8rem;
    user-select: none;
}

#notesList > ul > li > button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    font-size: 1.5rem;
    width: 2.2rem;
    height: 2.2rem;
    background-color: inherit;
    float: right;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
}

#notesList > ul > li > button:hover {
    color: #E45884;
    background-color: white;
}


/* 输入框 */
#publishNote {
    padding: 10px;
    border: 1px solid #E6ECF0;
    border-bottom: 10px solid #E6ECF0;
    display: none;
}
/* 参考 https://css-tricks.com/textarea-tricks/ */
textarea#noteEditor {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: 3px solid white;
    resize: none;
    font-size: 18px;
}

#publishNote > button {
    padding: 1em 2em;
    line-height: 1em;
    background-color: #8ED0F8;
    border-radius: 1.5em;
    border: none;
    outline: none;
    color: white;
    cursor: auto;
    user-select: none;
    margin-left: calc(100% - 8em);
    font-weight: bold;
}

#publishNote > button.active {
    background-color: #1A91DA;
    cursor: pointer;
}

/* 表示页面正在加载下一页的图标 */
#loading {
    color: #555;
    padding: 50px;
    text-align: center;
}