body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
}

body > a > h1 {
    position: fixed;
    left: 0px;
    top: 2em;
    writing-mode: vertical-lr;
    margin: 0;
    padding: 1em 0.4em 1em 0.2em;
    font-weight: 100;
    color: #1DA1F2;
    border-radius: 0 20px 20px 0;
    text-transform: uppercase;
    user-select: none;  /* 禁止选中  https://developer.mozilla.org/en-US/docs/Web/CSS/user-select  */
}

body > a > h1:hover {
    cursor: pointer;
    background-color: #E8F5FE;
}

@media only screen and (max-width: 906px) {
    body > h1 {
        display: none;
    }
}


#markdownPreview {
    margin: 0px;
}

/* notes列表 */
#notesList > ul {
    padding: 0;
    list-style-type: none;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin: 0;
}

#notesList > ul > li {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #E6ECF0;
    margin-bottom: -1px;
    margin-top: 0px;
    overflow: hidden;
    transition: background-color 0.2s;
    cursor: pointer;
    position: relative;
}
#notesList > ul > li:hover {
    background-color: #F5F8FA;
}

#notesList a {
    color: #2a7ae2;
    text-decoration: none;
}

#notesList a:hover {
    color: #000; 
    text-decoration: underline;
}

#notesList a:visited {
    color: #205caa;
}

#notesList pre {
    margin: 30px 0;
    border: 1px solid #d5d5e9;
    padding: 16px;
    line-height: 1.45;
    white-space: pre-wrap; /* 长行不溢出 */
}

#notesList code {
    padding: 0.2em 0.4em;
}

#notesList pre, #notesList code {
    background-color: #F4F4F4;
    border-radius: 3px;
}

/* 发布时间 */
#notesList > ul > li > span {
    color: #999;
    font-size: 0.8rem;
    user-select: none;
}

#notesList > ul > li > button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    font-size: 1.5rem;
    width: 2.2rem;
    height: 2.2rem;
    color: rgb(101, 119, 134);
    background-color: inherit;
    float: right;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
}

#notesList > ul > li > button:hover {
    color: #1DA1F2;
    background-color: #E8F5FE;
}


/* 输入框 */
#publishNote {
    padding: 10px;
    border: 1px solid #E6ECF0;
    border-bottom: 10px solid #E6ECF0;
}
/* 参考 https://css-tricks.com/textarea-tricks/ */
textarea#noteEditor {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: 3px solid white;
    resize: none;
    font-size: 18px;
}

#publishNote > button {
    padding: 1em 2em;
    line-height: 1em;
    background-color: #8ED0F8;
    border-radius: 1.5em;
    border: none;
    outline: none;
    color: white;
    cursor: auto;
    user-select: none;
    margin-left: calc(100% - 8em);
    font-weight: bold;
}

#publishNote > button.active {
    background-color: #1A91DA;
    cursor: pointer;
}

/* 表示页面正在加载下一页的图标 */
#loading {
    color: #555;
    padding: 50px;
    text-align: center;
}


#dialog {
    position: fixed;
    right: 0;
    top: 0;
}

#dialog > div {
    margin: 1em;
    padding: 1em;
    font-size: 1rem;
    color: #721c24;
    background-color: #F8D7DA;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}